.nav-btn {
  font-family: "Extatica" !important;
  font-size: 0.9rem;
  transition: all 0.5s;

  &:hover {
    animation: headShake 1s;
    animation-fill-mode: forwards;
  }

  &:hover,
  &.active {
    color: var(--primary) !important;

    &::after {
      content: "";
      width: 50%;
      height: 1.5px;
      background: var(--primary);
      position: absolute;
      bottom: -0.25rem;
      // left: 1rem;
    }
  }
}

// .active {
//   color: var(--primary);
// }

.header-navbar {
  li {
    list-style: none;
    font-weight: 600;
  }
}

.navbar-main {
  animation: fadeIn 1.5s !important;
  animation-fill-mode: forwards;
}

.menu-icon-btn,
.menu-logo {
  transition: scale 0.4s;
  &:hover {
    animation: rubberBand 1s;
    animation-fill-mode: both;
    scale: 1.05;
  }
}

.add-transition{
  transition: all 0.4s !important;
}
