.hero {
  z-index: 1 !important;
  background:
    radial-gradient(
      circle at center,
      rgba(116, 25, 172, 0.355) 15%,
      rgba(1, 8, 70, 0.866) 95%
    ),
    url("./../assets/images/gamer-bg.jpg") center repeat !important;
}

// .hero-title {
//   animation: 1s slideInDown 1s;
//   animation-fill-mode: both;
// }

.hero-title {
  text-shadow: rgba(53, 245, 255, 0.721) 0px 0px 60px;
  // font-family: "Extatica", "Permanent Marker";
}

.hero-btn {
  transition: 0.5s;
  &:hover {
    color: #fff;
    background: var(--accent);
  }
}

.hero-btn {
  &:hover {
    animation: headShake 1s;
    animation-fill-mode: both;
  }
}

.hero-logo-animate,
.hero-title {
  animation: bounceInDown 1.5s;
  animation-fill-mode: both;
}

.hero-text {
  animation: bounceInUp 1.5s;
  animation-fill-mode: both;
}

.hero-text {
  animation-delay: 1s;
}
// .hero-btn{
//   animation-delay: 1.4s;
// }

.hero-title {
  animation-delay: 0.4s;
}

.About {
  background:
    radial-gradient(
      circle at center,
      rgba(116, 25, 172, 0.155) 15%,
      rgba(1, 8, 70, 0.966) 95%
    ),
    url("./../assets/images/about-bg.jpg") center repeat !important;
}

.News {
  height: auto;
  background: radial-gradient(
      circle at center,
      rgba(163, 57, 212, 0.355)15%,
      rgba(13, 1, 54, 0.966) 95%
    ),
    url("./../assets/images/news-bg-alt-min.jpg") !important;
  background-repeat: repeat;
  background-size: 1500px !important;
  overflow-x: hidden !important;
}

.section-title{
  font-family: "Permanent Marker", sans-serif !important;
}

.news-card{
  transition: transform 0.4s;
  &:hover{
    transform: translateY(-6px) !important;
  }
}
